<ion-tabs class="tabs-icon-only  tabs-color-active-energized">  

  <ion-tab icon-off="ion-log-in" icon-on="ion-log-in" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-android-done-all" icon-on="ion-android-done-all" href="#/tab/proknjizene_uplate">
    <ion-nav-view name="tab-proknjizene_uplate"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-information" icon-on="ion-information" href="#/tab/neproknjizene_uplate">
    <ion-nav-view name="tab-neproknjizene_uplate"></ion-nav-view>
  </ion-tab>


  <ion-tab icon-off="ion-log-out" icon-on="ion-log-out">
  </ion-tab>

  
</ion-tabs> 
