<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light" ng-class="{'tabs-item-hide': hideTabs}">  

  <ion-tab icon-off="ion-log-in" icon-on="ion-log-in" href="#/tab/login" hidden="true" class="tab">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose-outline" href="#/tab/proknjizene_uplate">
    <ion-nav-view name="tab-proknjizene_uplate"></ion-nav-view>
  </ion-tab>


  <ion-tab icon-off="ion-log-out" icon-on="ion-log-out" ng-click="odjava()">
  </ion-tab>

  
</ion-tabs> 