.bodyIndex {
	background-color: #202020;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.rowIndex{
	margin-top: 70px;
	margin-left: 80px;
	margin-right: 80px;
}

.indexForma {
	margin-right: 50px;
	margin-left: 50px;
}

.indexH2 {
	text-align: center;
	color: #c21e5c;
}

.indexP {
	text-align: center;
}

.divForma {
	background-color: #161616;
	color: #fff;
}

a {
	color: #c21e5c;
}

.btn-default {
	background-color: #c21e5c!important;
	color: #fff!important;
}