.bodyIndex {
	background-color: #202020;
	font-family: 'Open Sans', sans-serif;
}

.rowIndex{
	margin-top: 70px;
	margin-left: 150px;
	margin-right: 150px;
}

.indexForma {
	margin-right: 50px;
	margin-left: 50px;
}

.indexH2 {
	text-align: center;
	color: #c21e5c;
	padding-bottom: 30px;
}

.indexP {
	text-align: center;
}

.divForma {
	background-color: #161616;
	color: #fff;
	padding-bottom: 70px;
	padding-top: 50px;
	padding-right: 80px;
	padding-left: 80px;
	text-align: center;
	height: 530px;
}

.divPozadina {
	background-image: url("slika.jpg");
	height: 530px;
	text-align: center;
	color: #fff;
}

a {
	color: #c21e5c;
}

.btn-default {
	background-color: #c21e5c!important;
	color: #fff!important;
	text-align: center;
}

.form-control {
	border-bottom: 1px solid #c21e5c!important;
	color: #fff;
}

.form-group {
	padding-bottom: 20px;
}

.navbar-default {
	background-color: #202020!important;
	color: #c21e5c!important;
}

.indexNadzorna {
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #202020!important;
	margin-right: -15px;
	margin-left: -15px;
}

.divInformacije {
	background-color: #c21e5c;
	margin-top: -20px;
	color: #fff;
}

.divInformacije h2 {
	text-align: center;
}

.divRaspored {
	background-color: #fff;
}

.indexNadzorna {
	background-color: #fff;
}

.navbar-right {
	margin-top: -50px;
}