.bodyIndex {
	background-color: #202020;
	font-family: 'Open Sans', sans-serif;
}

.rowIndex{
	margin-top: 70px;
	margin-left: 150px;
	margin-right: 150px;
}

.rowIndexRegistracija {
	margin-top: 40px;
	margin-left: 150px;
	margin-right: 150px;
}

.indexForma {
	margin-right: 50px;
	margin-left: 50px;
}

.regKorisnika {
	margin-right: 50px;
	margin-left: 50px;
	color: #fff;
	background-color: #c21e5c;
}

.indexH2 {
	text-align: center;
	color: #c21e5c;
	padding-bottom: 30px;
}

.indexP {
	text-align: center;
}

.divForma {
	background-color: #161616;
	color: #fff;
	padding-bottom: 70px;
	padding-top: 50px;
	padding-right: 80px;
	padding-left: 80px;
	text-align: center;
	height: 530px;
}

.divRegSalona {
	background-color: #161616;
	color: #fff;
	padding-bottom: 70px;
	padding-top: 20px;
	padding-right: 80px;
	padding-left: 80px;
	text-align: center;
	height: 580px;
}

.divRegKorisnika {
	background-color: #c21e5c;
	color: #fff;
	padding-bottom: 70px;
	padding-top: 20px;
	padding-right: 80px;
	padding-left: 80px;
	text-align: center;
	height: 580px;
}

.divPozadina {
	background-image: url("slika.jpg");
	height: 530px;
	text-align: center;
	color: #fff;
}

a {
	color: #c21e5c;
}

.btn-default {
	background-color: #c21e5c!important;
	color: #fff!important;
	text-align: center;
}

.btnKorisnik {
	background-color: #fff!important;
	color: #c21e5c!important;
}

.form-control {
	border-bottom: 1px solid #c21e5c!important;
	color: #fff;
}

.registracija {
	border-bottom: 1px solid #fff!important;
}

.form-group {
	padding-bottom: 20px;
}

.navbar-default {
	background-color: #202020!important;
	color: #c21e5c!important;
}

.indexNadzorna {
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #202020!important;
	margin-right: -15px;
	margin-left: -15px;
}

.divInformacije {
	background-color: #c21e5c;
	color: #fff;
}

.divInformacije h2 {
	text-align: center;
}

.divRaspored {
	background-color: #fff;
}

.indexNadzorna {
	background-color: #fff;
}

.navbar-right {
	margin-top: -50px;
}

.avatarNadzorna {
	border-radius: 100%;
}

.thumbnail {
	background-color: inherit;
	width: 150px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	border: 0;
	text-align: center;
}

.mdi-navigation-close {
	margin-left: 50px;
}

.postavke {
	border-bottom: 1px solid #B6B6B6!important;
	padding: 5px;
	color: #B6B6B6;
}

.divPostavke {
	padding: 30px;
}

.divPostavke ol {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.dodajDjelatnika {
	color: #c21e5c;
}

.dodajDjelatnika span {
	padding-right: 15px;
}

.divPostavkeRed {
	padding-bottom: 30px;
}#map_canvas {
    width: 500px;
    height: 500px;
}

.checkArhiva {
	border: 2px solid #fff!important;
}