.zuta{
border-color: #faebcc !important;
background-color: #fcf8e3 !important;
color: #8a6d3b !important;
border-radius: 10px;
height: 50px;
width: 100%;
text-align: center;
padding: 15px;
}

.crvena{
border-color: #ebccd1;
background-color: #f2dede;
color: #a94442;
border-radius: 10px;
height: 50px;
width: 100%;
text-align: center;
padding: 15px;
}


.naslov{
color: white !important;
font-weight: normal !important;
}

.button-dark{
background-color: #c21e5c  !important; 
border-color: #c21e5c  !important;
border-radius: 0%;
}

.pozadina{
background-color: #444444 !important;
}

.prijava{
background-color: #161616 !important;
border-color: #161616 !important;
}

.slova[placeholder]{
color:white !important;
}

.tabs-background-dark .tabs, .tabs-background-dark > .tabs {
border-color: #444444 !important;
}

.trivije{
background-color:  #c21e5c  !important;
border-color: #c21e5c  !important;
color: white !important;
border-radius: 10px;
text-align: center;
padding: 15px;
}

.pozadina_tamna{
background-color: #161616 !important;
}

.slika{
height: 150px;
width: 150px;
border: none;
}

.lista{
 display: flex;
 justify-content: center;
}