.bodyIndex {
  text-align: center;
}

.form-group {
  margin-right: auto;
  margin-left: auto;
  color: #B6B6B6;
}

.input-group {
  padding: 10px;
  width: 300px;
  color: #B6B6B6;
}

.form-control {
  border: 0;
  border-bottom: solid 1px #B6B6B6;
  border-radius: 0;
}

.form-control:focus {
  border: 0!important;
  outline: none!important;
  border-bottom: solid 1px #B6B6B6!important;
  color: #B6B6B6!important;
}

.logIn:focus {
  border: 0!important;
  outline: none!important;
  border-bottom: solid 1px #fff!important;
  color: #fff!important;
}

.input-group-addon {
  border: 0;
  border-bottom: solid 1px #B6B6B6;
  color: #B6B6B6;
}

select {
  border: 0;
  border-bottom: solid 1px #B6B6B6;
}

.zupanija {
  width: 225px;
}

.selectGradovi {
  width: 250px;
}

.selectSkole {
  width: 247px;
}

.selectStatus {
  width: 243px;
}

.selectProfesor {
  width: 240px;
}

.btn-default {
  color: #fff;
  background-color: #0097A7;
  border-radius: 0;
  margin-top: 20px;
  border: 0;
  padding: 10px;
}

header {
  background-color: #00BCD4;
  color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  height: 380px;
}

.logIn {
  color: #fff;
  border-bottom-color: #fff;
}

.trakaIndex {
  height: 50px;
  background-color: #0097A7;
  margin-left: -15px;
}

.imeRavnatelja {
  text-align: right;
  margin-top: -43px;
  margin-right: 120px;
}

.ravnateljBtn {
  margin-top: -47px;
  margin-right: 15px;
}

.headerRavnatelj {
  margin-top: -20px;
  padding-top: 15px;
  padding-left: 15px;
  height: 80px;
}

.tablica {
  height: 95%;
  width: 95%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  color: #B6B6B6;
}

.bodyRavnatelj {
  background-color: #EDECEC;
}

.glyphicon-plus {
  color: #0097A7;
}
#dodajNovi {
  cursor: pointer;
}

th {
  color: #000;
}

.obavijest {
  border: 1px solid #B6B6B6;
  width: 47%;
  margin-right: auto;
  margin-left: auto;
}

.obavijestBtn {
  margin-right: 330px;
}

.profesor {
  height: 95%;
  width: 95%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  color: #B6B6B6;
  text-align: center;
}

.profesorUplate {
  height: 95%;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  color: #000;
  text-align: center;
}

.thumbnail {
  border: 0;
  border-radius: 0;
}

.roditelj {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.checkbox {
  border-radius: 0;
  background-color: inherit;
  padding-top: 0;
  margin-top: -30px;
}

.imeProfesora {
  text-align: right;
  margin-top: -43px;
  margin-right: 120px;
}

.imeRoditelja {
  text-align: right;
  margin-top: -43px;
  margin-right: 120px;
}

.promjena {
  margin-right: -400px;
  margin-top: -40px;
}

.uplatnica {
  margin-right: 200px;
}

.status {
  height: 40px;
  width: 300px;
}

.odaberi-razred {
  width: 1%;
}

.povratak{
  position:absolute;
  left: 85em;
}